{% extends "base.html.twig" %}

{% block body %}
			<div class="alert alert-secondary">
				Todo Manager
			</div>
			<hr>
			<ol class="list-group">
				{% for todoName, todoDescription in app.session.get('todos')%}
					<li class="list-group-item">
						{{todoName}}
						:
						{{todoDescription}}
					</li>
				{% endfor %}
			</ol>
{% endblock %}